// Place all the styles related to the dengonban controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 .title{
	font-size: 20pt;
	color: #999;
}

.form{
	margin: 50px 0px;
}

.form tr td{
	color: #999;
	padding: 0px 10px;
	font-size: 14px;
}

th{
	background-color: #999;
	color: #eee;
	font-size: 14px;
	padding: 2px;
}

.dengon tr td{
	background-color: #eee;
	color: #666;
	padding: 10px 5px;
}

td.msg{
	font-size: 12px;
}

td.name{
	font-size:12px;
}

td.mail{
	font-size:12px;
}

td.time{
	font-size: 9pt;
}

div.footer{
	border-style:solid;
	border-width: 1px 0px 0px 0px ;
	broder-color: #999;
	margin: 50px 0px 0px 0px ;
	padding: 3px 0px 0px 0px 0px ;
	font-color: #999;
	font-size: 12pt;
	text-align:right;
	font-size:9pt;
}